@font-face{
                font-family:Lobster;
                src:url(mediaRes/font/Lobster.ttf);
            }

@font-face{
                font-family:Monoton;
                src:url(mediaRes/font/Monoton.ttf);
            }

@font-face{
                font-family:AbrilFatface;
                src:url(mediaRes/font/AbrilFatface.ttf);
            }

@font-face{
                font-family:Anton;
                src:url(mediaRes/font/Anton.ttf);
            }
@font-face{
                font-family:Roboto;
                src:url(mediaRes/font/Roboto.ttf);
            }

@font-face{
                font-family:Orbitron;
                src:url(mediaRes/font/Orbitron.ttf);
            }

@font-face{
                font-family:Pacifico;
                src:url(mediaRes/font/Pacifico.ttf);
            }

@font-face{
                font-family:PoiretOne;
                src:url(mediaRes/font/PoiretOne.ttf);
            }

